{% extends 'tdashbase.html.twig' %}

{% block title %}Dashboard - MyExamSpace.Com{% endblock %}
{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('Css/dashboard.css') }}">
{% endblock %}

{% block map_content %}

    <div class = "here" ></div>
 
    <ul>
        <li class="boton activa"><span class="glyphicon glyphicon-th-large glyph"></span>
        <br><a href="{{ path('teacher_dashboard') }}">Dashboard</a></li>

        <li class="boton"><span class="glyphicon glyphicon-book glypha"></span>
        <br><a href="#">Exam</a></li>

        <li class="boton"><span class="glyphicon glyphicon-list-alt glypha"></span>
        <br><a href="#">Results</a></li>

        <li class="boton"><span class="glyphicon glyphicon-phone glypha"></span>
        <br><a href="#">Data</a></li>

        <li class="boton"><span class="glyphicon glyphicon-user glypha"></span>
        <br><a href="{{ path('teacher_account') }}"> MyAccount </a></li>
    </ul>
    <a href="{{ path('teacher_logout') }}" id="logout" 
   onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
    <span class="glyphicon glyphicon-log-out glypha"></span>    Logout</a>

<form id="logout-form" action="{{ path('teacher_logout') }}" method="POST" style="display: none;">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
</form>



{% endblock %}

{% block content %}
<h1>Welcome to your Dashboard, {{ username }}!</h1>

<p>Email: {{ email }}</p>
<p>Role: {{ role }}</p>


{% endblock %}
