{% extends 'tbase.html.twig' %}

{% block body %}
    <h1>Assign Subjects and Classrooms to Teachers</h1>

    {{ form_start(form) }}
        {{ form_row(form.teacher) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.classroom) }}
        {{ form_row(form.department) }}
        
        <button class="btn btn-primary">Assign</button>
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
