{% extends 'tdashbase.html.twig' %}

{% block title %}Create Teacher - MyExamSpace.Com{% endblock %}
{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('Css/dashboard.css') }}">
{% endblock %}

{% block map_content %}


{% endblock %}

{% block content %}
 
    <h1>Create a New Teacher</h1>

    {{ form_start(form) }}
        {{ form_row(form.prefix) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.number) }}

        <button class="btn btn-primary">Create</button>
    {{ form_end(form) }}


{% endblock %}
