{% extends 'tdashbase.html.twig' %}

{% block title %}StudentsList - MyExamSpace.Com{% endblock %}
{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('Css/dashboard.css') }}">
{% endblock %}

{% block map_content %}

    <div class = "here" ></div>
 
    <ul>
        <li class="boton"><a href="{{ path('admin_dashboard') }}">
        <span class="glyphicon glyphicon-th-list glypha"></span> <br>Dashboard</a></li>

        <li class="boton"><a href="#">
        <span class="glyphicon glyphicon-blackboard glypha"></span><br>Exam</a></li>

        <li class="boton activa"><a href="{{ path('admin_student_list') }}">
        <span class="glyphicon glyphicon-stats glyph"></span><br>Student</a></li>

        <li class="boton"><a href="{{ path('admin_teacher_list') }}">
        <span class="glyphicon glyphicon-folder-open glypha"></span><br>Teacher</a></li>

        <li class="boton"><a href="{{ path('admin_list') }}"> 
        <span class="glyphicon glyphicon-user glypha"></span><br>Admin</a></li>
    </ul>


    <a href="{{ path('admin_logout') }}" id="logout" 
   onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
    <span class="glyphicon glyphicon-log-out glypha"></span>    Logout</a>

<form id="logout-form" action="{{ path('admin_logout') }}" method="POST" style="display: none;">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
</form>



{% endblock %}

{% block content %}


<div class="text-left" style="margin-left:10px; margin-top:10px;">
  <a href="/" class="btn btn-primary">Create Student</a>
  <a href="/" class="btn btn-primary ml-2">Curriculum</a>
   <a href="{{ path('admin_student_list') }}" class="btn btn-primary ml-2"> View Student</a>
</div>


<div class="container" style="max-width:800px;">
   
  <form action="{{ path('admin_student_edit', { id: student.id }) }}" method="post" style="margin-top:90px;">
    {{ form_start(form, { 'method': 'POST', 'attr': { 'novalidate': 'novalidate' } }) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.Firstname) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.Lastname) }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.Middlename) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.dateOfBirth) }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.Gender) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.classroom) }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-9" style="margin-left:90px;">
            {{ form_row(form.admissionYear) }}
        </div>
    </div>
        <br>
     <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
    {{ form_end(form) }}
</form>




</div>



{% endblock %}
