{% extends 'base.html.twig' %}

{% block title %}Admin Login - MyExamSpace.Com{% endblock %}

{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    </style>
{% endblock %}

{% block auth %}


<!-- Display Flash Messages -->
{% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }}">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endfor %}


<div class="loginform">
    <h1  id="who">Administrator Login</h1>

    <form action="{{ path('admin_authenticate') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authorize') }}">
        <div class="form-group">
            <label for="username">User name</label>
            <span class="glyphicon glyphicon-user gly"></span>
            <input type="text" id="username" name="_username" class="form-control signup">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <span class="glyphicon glyphicon-lock gly"></span>
            <input type="password" id="password" name="_password" class="form-control signup">
        </div>
        <input type="submit" value="Login" class="btn btn-primary space">
    </form>
</div>


{% endblock %}

{% block pp %}
    <div class="imgcontainer">
        <img src="{{ asset('images/admin.jfif') }}" alt="Admin Image" class="img">
    </div>
{% endblock %}

 